{% extends 'base.html' %}
{% block content %}

<style>
    
    body {
        background-color: rgb(249, 220, 220);
    
        
    }

  
    .heading {
        background-color: rgb(233, 185, 185);
        display: flex;
        padding: 10px;
        border-radius: 100px;
        justify-content: center; 
        align-items: center; 
        margin-top: 20px;
        width: 25%
        
    }

    .menu {
        background-color: rgb(247, 197, 197);
        display: flex;
        padding: 10px;
        border-radius: 50px;
        justify-content: center; 
        align-items: center; 
        margin-top: 20px;
        width: 25%
        
    }

    
</style>
<div class = "heading">
<h1>{{ nama }}'s orders</h1>
</div>

<div class = "bio">
<!-- <p>{{ nama_aplikasi }}<p> -->
<h3>Nama : {{ nama }}</h3>
<!-- <p>{{ nama }}<p> -->
<h3>Kelas: {{ kelas }}</h3>
<!-- <p>{{ kelas }}<p> -->
</div>

<div class = "menu">
<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
    <tr{% if forloop.last %} style="background-color: #d77ba0;"{% endif %}>
            <td>{{item.name}}</td>

            <td>
                <button onclick="window.location.href='{% url 'main:decrement_amount' item.id %}'">-</button>
                <span id="amount{{ item.id }}">{{ item.amount }}</span>
                <button onclick="window.location.href='{% url 'main:increment_amount' item.id %}'">+</button>
            </td>
            <td>{{item.description}}</td>
            <td><button onclick="window.location.href='{% url 'main:delete_item' item.id %}'">Hapus</button></td>
        </tr>
    {% endfor %}
</table>
</div>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>
<h3>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}