{% extends 'base.html' %}
{% block content %}
<h1>Pacil Cafe Page</h1>

<h5>Nama aplikasi: </h5>
<p>{{ nama_aplikasi }}<p>
<h5>Nama : </h5>
<p>{{ nama }}<p>
<h5>Kelas: </h5>
<p>{{ kelas }}<p>
<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>

            <td>
                <button onclick="window.location.href='{% url 'main:decrement_amount' item.id %}'">-</button>
                <span id="amount{{ item.id }}">{{ item.amount }}</span>
                <button onclick="window.location.href='{% url 'main:increment_amount' item.id %}'">+</button>
            </td>
            <td>{{item.description}}</td>
            <td><button onclick="window.location.href='{% url 'main:delete_item' item.id %}'">Hapus</button></td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}